.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  border-bottom: rgb(216, 214, 214);
}

.topbarWrapper {
  height: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

/* .topbariconsContainer */
.notiBadge {
  background-color: red;
  color: aliceblue;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  font-size: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  top: -20px;
  left: 13px;
  z-index: 20;
}

.topbaricon {
  font-size: 24px;
}

.topRight {
  display: flex;
  flex-direction: row;
}
.topbariconsContainer {
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(63, 63, 63);
}
